@model IEnumerable<Entities.Models.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LieuNaissance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationalite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondeNationalite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbrEnfants)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateNaissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LieuNaissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationalite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondeNationalite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbrEnfants)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<hr />
<hr />
<div class="panel-body">
   <table class="table-bordered">
       <tr>
           <td class=""><img src="~/Content/téléchargement.jpg" class="img-circle" /></td>
           <td>
               <table >
                   <tr>
                       <td>Nom</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>Prenom</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>Email</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>Téléphone</td>
                       <td></td>
                   </tr>
               </table>

           </td>
       </tr>
   </table>
        
    </div>
   



